@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

body {
  background-color: #141114;
  background-image: linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px),
    linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px);
  background-size: 58px 58px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
  font-family: sans-serif;
  font-size: 20px;
  height: 100%;
  width: 100%;
  margin: 0;
}

a {
  text-decoration: none;
}

/****************************
*    FORM CONTENT 
******************************/

.form {
  max-width: 700px;
  width: 100%;
  background-color: #e20000;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  position: relative;
  top: 250px;
  left: 600px;
}

.form .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
/*Take out maybe */
.form .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(to right, #eeeeee, #ea0909);
}

.content form .userInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .userInfo .form-input {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .form-input span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.userInfo .form-input input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.userInfo .form-input input:focus,
.userInfo .form-input input:valid {
  border-color: #9b59b6;
}

form .design-input .design-title {
  font-size: 20px;
  font-weight: 500;
}

form .choices {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

form .choices label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

form .choices label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

form .button {
  height: 45px;
  margin: 35px 0;
}

form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
}

form .button input:hover {
  /* transform: scale(0.99); */
  background: linear-gradient(to right, #eeeeee, #ea0909);
}

/*

*/
@media (max-width: 584px) {
  .form {
    max-width: 100%;
  }
  form .userInfo .form-input {
    margin-bottom: 15px;
    width: 100%;
  }

  form .choices {
    width: 100%;
  }
  .content form .userInfo {
    max-height: 300px;
    overflow-y: scroll;
  }

  .userInfo::-webkit-scrollbar {
    width: 5px;
  }
}

@media (max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}

/* Navagation */
a {
  text-decoration: none;
  color: black;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}
a:hover {
  color: black;
}

a:active {
  color: black;
}

.container {
  top: 50px;
  right: 500px;
  position: absolute;
}

.selector {
  padding: 0.25rem;
  background-color: red;
  width: min-content;
  border-radius: 12px;
  position: relative;
}
.selector-item {
  white-space: nowrap;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  z-index: 2;
  user-select: none;
  transition: color 0.2s ease;
}

.selector-item--active {
  color: red;
}
.highlight {
  background-color: purple;
  border-radius: 8px;
  position: absolute;
  left: 0.25rem;
  width: 4.75rem;
  height: 2.6rem;
  z-index: 1;
  box-shadow: 0px 0px 12px -2px #ff8886;
  transition: left 0.2s ease, width 0.2s ease;
}
